{% extends 'dashboard/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'detail_style.css' %}">
{% endblock %}

{% block content %}
<div class="event-detail-container">
    {% if evento.imagen %}
        <div class="detail-img-wrapper">
            <img src="{{ evento.imagen.url }}" alt="{{ evento.titulo }}">
        </div>
    {% endif %}

    <div class="event-status-badge">
        {% if evento.f_fin > now %}
            <span class="status-badge active">● Evento Activo</span>
        {% else %}
            <span class="status-badge ended">● Evento Terminado</span>
        {% endif %}
    </div>

    <h1 class="event-detail-title">{{ evento.titulo }}</h1>
    
    <div class="meta-info">
        <span><i class="fa-solid fa-calendar-days"></i> {{ evento.f_inicio|date:"d M, Y" }}</span>
        <span><i class="fa-solid fa-location-dot"></i> {{ evento.ubicacion }}</span>
    </div>

    <div class="description-box">
        <h3>Descripción</h3>
        <p>{{ evento.descripcion }}</p>
    </div>

    <div class="action-group">
        <a href="{% url 'event_list' %}" class="btn-custom btn-outline-stellar">Volver</a>
        
        {% if request.user in evento.asistentes.all %}
            <a href="{% url 'unirse_evento' evento.pk %}" class="btn-custom btn-danger-stellar">
                <i class="fa-solid fa-user-minus"></i> Salir del Evento
            </a>
        {% else %}
            <a href="{% url 'unirse_evento' evento.pk %}" class="btn-custom btn-join-stellar">
                <i class="fa-solid fa-user-plus"></i> Unirse al Evento
            </a>
        {% endif %}

        {% if request.user == evento.id_creador %}
            <a href="{% url 'editar_evento' evento.pk %}" class="btn-custom btn-primary-stellar">Editar Evento</a>
            
            <a href="{% url 'eliminar_evento' evento.pk %}" class="btn-stellar-delete" onclick="return confirm('¿Seguro que quieres eliminar este evento de Nexus?');">
                <i class="fa-solid fa-trash-can"></i> Eliminar Evento
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}